
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font: 16px/1.5 'Open Sans', sans-serif;
    text-align: center;
    color: #555;
    background-image: url('../img/background.jpg');
    background-repeat: repeat;
}
.container {
    margin-top: 50px;
}
.social {
    display: block;
    padding: 0px;
}
.social li {
    display: inline-block;
    width: 45px;
}














